<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <!-- <body>
    Pricing
  Product
  About Us
  Careers
  Community

  Get Started

  Bring everyone together to build better products.

  Manage makes it simple for software teams to plan day-to-day 
  tasks while keeping the larger team goals in view.

  Get Started



 

  

  Get Started

  Simplify how your team works today.
  Get Started

  

  Updates in your inbox…
  Go

  Copyright 2020. All Rights Reserved 

</body>
</html> -->
</html>
